.hero {
  padding-top: 183px;
}

.heroSec {
  display: flex;
  justify-content: space-between;
}

.heroContent {
  max-width: 530px;
  font: normal normal bold 35px/94px Cairo;
  letter-spacing: 0px;
  color: #000000;
  padding-top: 60px;
}

.heroContent h2 {
  font-weight: 700;
}

.heroContent button {
  width: 195px;
  height: 60px;
  border: none;
  background: var(--primary-color) 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 40px #1421ff4d;
  border-radius: 8px;
  color: #fff;
  text-align: right;
  padding: 0 30px;
  outline: none;
  cursor: pointer;
  margin-top: 60px;
  margin-bottom: 170px;
}

.heroContent button > span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heroContent button > span:after {
  content: " \2190";
  font-size: 30px;
}

.imgContainer {
  width: 445px;
}

/* Where the design breaks */
@media only screen and (max-width: 1000px) {
  .heroContent {
    font: normal normal bold 31px/94px Cairo;
  }

  .heroContent button {
    margin-top: 50px;
    margin-bottom: 100px;
  }
}

/* Where the design breaks */
@media only screen and (max-width: 900px) {
  .heroContent {
    font: normal normal bold 28px/94px Cairo;
    padding-top: 20px;
  }
}

/* Tablet */
@media only screen and (max-width: 768px) {
  .heroContent {
    font-size: 25px;
  }
  .heroContent button {
    margin-bottom: 70px;
  }
}

/* Mobile */
@media only screen and (max-width: 600px) {
  .heroSec {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .heroContent {
    text-align: center;
  }

  .heroContent button {
    width: 250px;
    margin-bottom: 60px;
  }

  .imgContainer {
    order: -1;
    width: 250px;
  }
}
