.hero {
  padding-top: 183px;
}

.heroSec {
  display: flex;
  justify-content: space-between;
}

.heroContent {
  max-width: 530px;
  padding-top: 60px;
}

.heading2 {
  line-height: 94px;
  font-weight: 700;
  letter-spacing: 0px;
  color: var(--black-base-color);
  font-size: 50px;
}

.heroContent a {
  text-decoration: none;
  max-width: 195px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  border: none;
  background: var(--primary-color) 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 40px #1421ff4d;
  border-radius: 8px;
  color: #fff;
  padding: 0 30px;
  outline: none;
  cursor: pointer;
  margin-top: 60px;
}

.heroContent a:after {
  content: " \2190";
  font-size: 30px;
}

/* Where the design breaks */
@media only screen and (max-width: 1100px) {
  .heroContent .heading2 {
    font-size: 33px;
    line-height: 70px;
  }

  .heroContent a {
    margin-top: 50px;
    margin-bottom: 100px;
  }
}

/* Where the design breaks */
@media only screen and (max-width: 900px) {
  .heroContent .heading2 {
    font-size: 30px;
    line-height: 70px;
  }
}

/* Tablet */
@media only screen and (max-width: 768px) {
  .heroContent {
    padding-top: 20px;
  }

  .heroContent .heading2 {
    font-size: 27px;
    line-height: 70px;
  }
  .heroContent a {
    margin-bottom: 70px;
  }
}

/* Mobile */
@media only screen and (max-width: 600px) {
  .heroContent {
    padding-top: 0;
  }

  .hero {
    padding-top: 100px;
  }
  .heroSec {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .heroContent {
    text-align: center;
  }

  .heroContent .heading2 {
    line-height: 70px;
  }

  .heroContent a {
    max-width: none;
    /* margin-bottom: 60px;
    margin-top: 25px; */
    margin: 25px 0 60px;
  }
}
