.link {
  text-decoration: none;
  text-align: left;
  color: #6f6f6f;
  font: normal normal bold 16px/30px Cairo;
}

.active {
  font-weight: 700;
  color: var(--black-base-color);
  text-decoration: none;
}

a {
  transition: all 0.5 ease-in;
}
