.features {
  padding-top: 80px;
}

.features h2 {
  margin-bottom: 170px;
}

/* Tablet */
@media only screen and (max-width: 768px) {
  .features h2 {
    margin-bottom: 20px;
  }

  .features{
    padding-top: 25px;
  }
}
